.App {
  text-align: center;
}

.Header {
  background-color: rgb(31, 139, 211);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  color: aliceblue;
  font-size: 2em;
}
.Header-Title {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

.Navbar {
  background-color: rgb(11, 133, 163);
}
.navbar-contents {
  color: black;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 1em;
  margin-left: 5px;
  margin-right: 5px;
}

.reviews-card-image {
  max-height: 200px;
}
